/bin/
.classpath
.project
.settings/
build/

.DS_Store
/.gradle/

.idea/*
out/*

frontend/.gradle/
backend/src/main/resources/public/frontend.js
backend/src/main/resources/public/frontend.js.map
backend/src/main/resources/public/index.html
